version: '3'
services:
  api-database:
    image: mongo
    container_name: mongocontainer
    ports:
    - 27017:27017
    volumes:
    - mongodb_data_container:/data/db
  api:
    image: clientmanagerapi
    container_name: clientmanagerapicontainer
    ports:
    - 9091:8080
    links:
    - api-database
  portal:
    image: clientmanager
    container_name: clientmanagercontainer
    ports:
    - 9092:8080
    links:
    - api
volumes:
  mongodb_data_container: null